.board-container {
  margin: 60px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #1d2432;
}

.playing-area {
  width: 80%;
  height: 80%;
  background-color: rgb(224, 224, 224);
  color: black;
}